@model Zealand_Eksamen.Models.Class
@{
    ViewData["Title"] = "Slet Hold";
}
<h2>Slet Hold</h2>

<div class="alert alert-danger">Er du sikker på, at du vil slette @Model.ClassCode?</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ClassID" />
    <button class="btn btn-danger" type="submit">Slet</button>
    <a class="btn btn-secondary" href="@Url.Action("Index")">Annuller</a>
</form>